body{
    color: #000;
    margin: 0;
    font-family: 'Segoe UI',SegoeUI,'Microsoft JhengHei',微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #efeeee;
}

a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}
#loading{
    text-align: center;
}
#loading p{
    font-size: 22px;
}

/*             导航                */
.nav{
    position: sticky;
    top: 0px;
    z-index: 9999999;
    padding: 8px 32px;
    display: flex;
    align-items: center;
    background: white;
}
.nav-logo{
    width: 46px;
    height: 46px;
}
.nav-logo > img{
    width: 100%;
}
.nav-title{
    /*white-space: nowrap;*/
    margin-left: 8px;
}
.nav-list{
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 32px;
    list-style: none;
    padding: 0;
    /*margin: 0;*/
    /*background: red;*/
}
.nav-list > li{
    margin-left: 16px;
    color: #262626;
}
.nav-list > li > a{
    font-size: 18px;
    color: #262626;
    text-decoration: none;
}
.nav-list > li:hover{
    text-decoration: underline;
}

.user{
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.user .user-login,
.user .user-username{
    cursor: pointer;
    font-size: 20px;
    padding: 0 8px;
    font-weight: bold;
}
.user .user-username:hover{
    text-decoration: underline;
}
.user .user-avatar{
    width: 46px;
    height: 46px;
    border: 1px solid #000;
    border-radius: 23px;
}
.user .user-avatar > img{
    width: 100%;
    border-radius: 100%;
}

.route{
    margin: 16px;
    padding: 16px;
    background: #fff;
    border-radius: 10px;
}
.home{
    position: relative;
    /*background: red;*/
}
.home .add{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    width: 56px;
    height: 56px;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    border-radius: 100%;
    background-image: url('../img/add.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    background-size:  60% 60%;
}
.home ul{
    display: flex;
    flex-wrap: wrap;
    min-height: 56px;
    /*justify-content: center;*/
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    align-items: center;
}
.home ul li > a{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 16px;
    padding: 16px;
    min-width: 120px;
    background: #f8f8f8;
    border-radius: 20px;
    transition: background .2s ease-out;
}
.home ul li > a:hover{
    background: rgba(0, 0, 0, .1);
}
.home ul li a{
    color: #000;
    text-decoration: none;
}
.home ul li .icon{
    width: 56px;
    height: 56px;

    align-self: center;
}
.home ul li .title{
    text-align: center;
    padding: 8px 0;
    font-size: 18px;
    font-weight: bold;
}
.home ul li .desp{
    color: #9f9f9f;
    padding: 4px 0;
    font-size: 14px;
}
.home ul li .action{
    font-size: 14px;
    padding: 4px 0;
    margin-left: auto;
}

.home .home-edit,
.home .home-del{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.home .home-edit .form{
    padding: 32px;
    min-width: 400px;
    background: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}
.home .home-edit .form .head{
    display: flex;
    align-items: center;
}
.home .home-edit .form .head .title{
    color: #4d6bff;
    font-weight: bold;
    padding: 0 0 16px 0;
    font-size: 22px;
}
.home .home-edit .form .head a{
    margin-left: auto;
}
.home .home-edit .form .head .close{
    width: 20px;
    height: 20px;
    background: url('../img/close.png');
    background-size: 100% 100%;
    /*border: 1px dashed #000;*/
}
.home .home-edit .form input{
    margin: 16px 0;
    width: 100%;
    line-height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
}
.home .home-edit .form .save-edit{
    text-align: center;
    background: #4d6bff;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
    margin-top: 16px;
}

.home .home-del .alert{
    padding: 8px;
    min-width: 200px;
    background: #fff;
    border-radius: 4px;
}
.home .home-del .alert .title{
    font-size: 18px;
    padding: 16px 8px 8px 16px;
    font-weight: bold;
}
.home .home-del .alert .msg{
    padding: 8px 8px 16px 16px;
}
.home .home-del .alert .action{
    display: flex;
    justify-content: flex-end;
}
.home .home-del .alert .action .btn{
    padding: 8px;
    font-size: 14px;
}
.home .home-del .alert .action > .btn:hover{
    background: rgba(0,0,0,.2);
}
.home .home-del .alert .action > .btn-cancel{
    color: #000;
    text-decoration: none;
}
.home .home-del .alert .action > .btn-yes{
    color: red;
    cursor: pointer;
}

.login{
    display: flex;
    padding: 16px;
    flex-direction: column;
}
.login > .title{
    font-weight: bold;
}
.login > input{
    outline: none;
    border: none;
    line-height: 32px;
    margin: 8px 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    background-color: transparent;
}
.login .login-submit{
    margin-top: 32px;
    text-align: center;
    background: #4d6bff;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}
.system{
    display: flex;
    flex-direction: column;
}
.system table{
    width: 100%;
    margin-top: 16px;
}
.system table tr{
    background: #f8f8f8;
}
.system table tr > td:first-child{
    white-space: nowrap;
}
.system table tr:nth-of-type(2n){
    background: #fff;
}
.system table td{
    padding: 8px;
}
.system input{
    outline: none;
    border: none;
    line-height: 32px;
    margin: 8px 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    background-color: transparent;
}
.system .title{
    font-weight: bold;
    padding-top: 16px;
}
.system .save{
    margin-top: 32px;
    text-align: center;
    background: #4d6bff;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}
.profile{
    display: flex;
    flex-direction: column;
}
.profile > .title{
    font-weight: bold;
}
.profile > input{
    margin: 16px 0;
    width: 100%;
    line-height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
}
.profile .logout,
.profile .save{
    margin-top: 16px;
    text-align: center;
    background: #4d6bff;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}
.profile .logout{
    color: red;
    background: transparent;
}
.system,
.profile,
.login{
    max-width: 60%;
    margin: 0 auto;
}
.copyright{
    color: #c4c4c4;
    text-align: center;
    padding: 16px;
    margin: 16px;
    /*background: #fff;*/
}
